*{margin: 0}
body {
    margin: 0px;
    height: 100vh;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family: monospace, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template: 1fr 5fr  / 1fr 6fr;
}
body > header {
    grid-column: 2 / 3
}
body > section.sidebar {
    grid-row: 1 / 3;
    background-color: rgb(0, 183, 255);

    display:grid;
    align-content: first baseline;
}

.sidebar>ul{
    list-style: none;
    color: white;
    font-weight: bold;
    line-height: 2rem;
}
.sidebar>ul:last-child{
    padding-top: 100px;
}

body > main{
    background-color: rgb(220, 221, 223);
    
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 75px;
}

.your-projects {
    grid-row: 1 / 4;
    padding: 0px 20px 75px 25px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    grid-template-rows: 50px 1fr 1fr;
    grid-auto-rows: 1fr;
    
    gap: 25px

}
.your-projects> p{
    grid-column-start: 1;
    grid-column-end: -1;

}
.card-item{
    background-color: white;
    border-left: 10px solid orange;
    border-radius: 10px;
    
}

.announcements,.trending{
    display: grid;
    grid-template-rows: 75px 1fr;
    grid-auto-rows: 1fr;     
}

.announcement,.trend{
    background-color: wheat;
    border-bottom: 1px solid gray;
    font-size: 0.8rem;
    
}
.announcements>p{
    
}